<!doctype html>
<html lang="he" dir="rtl" data-ng-app="wedding">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nirit and Tal's wedding">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Nirit and Tal: The Wedding </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="stylesheets/addtohomescreen.css">

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Nirital Wedding">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Nirital Wedding">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <meta name="theme-color" content="#3372DF">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/addtohomescreen.js"></script>

    <!-- Page stylesheets -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <script>
      addToHomescreen();
    </script>
  </head>

  <!------------- Body ------------------------>

  <body data-ng-controller="WeddingController as weddingCtrl">
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo"> נירית וטל <strong>מתחתנים</strong></h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
          <a href="index.html"><button class="glyphicon glyphicon-home"> </button></a>
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>נווט</h4>
      <ul>
        <li><a href data-ng-click="weddingCtrl.setTab(1)">מי?</a></li>
        <li><a href data-ng-click="weddingCtrl.setTab(2)">מתי?</a></li>
        <li><a href data-ng-click="weddingCtrl.setTab(3)">איפה?</a></li>
        <li><a href data-ng-click="weddingCtrl.setTab(4)">כמה?</a></li>
        <li><a href data-ng-click="weddingCtrl.setTab(5)">אישור הגעה</a></li>
      </ul>
    </nav>

    <div>
    <main class="container-fluid" data-ng-if="weddingCtrl.check(0)">
      <h1 id="welcome">ברוכים הבאים!</h1>
      <p>בשעה טובה, אנחנו מתחתנים.</p>

      <p> כאן תוכלו למצוא פרטים אודות החתונה.</p>
        <p> אנא אשרו הגעה באיזור המתאים, כדי שנוכל לדעת שאתם מגיעים. </p>

      <p> מקווים לראותכם! </p>
      <p></p>
      <div class="frame-container">
        <div id="narrow-only"> לקבלת תחזית שבועית - הטו את המכשיר על צידו</div>
        <iframe id="forecast_embed" type="text/html" frameborder="0" src="http://forecast.io/embed/#lat=32.070935&lon=34.858718&name=Saba's Well&color=#00aaff&font=Georgia&units=uk"> </iframe>
      </div>

    </main>

      <who data-ng-if="weddingCtrl.check(1)"></who>
      <when data-ng-if="weddingCtrl.check(2)"></when>
      <where data-ng-if="weddingCtrl.check(3)"></where>
      <how-much data-ng-if="weddingCtrl.check(4)"></how-much>
      <confirm data-ng-if="weddingCtrl.check(5)"></confirm>

    </div>

  </body>
  <!------------- End Body ------------------------>

  <script src="scripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<footer dir="ltr">
  <div> Created By: Kis-Pipa © </div>
</footer>

</html>
